<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <ul class="list-inline text-center">
                    <li>
                        <a href="{{ "/feed.xml" | prepend: site.baseurl }}">
                            <span class="fa-stack fa-lg">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                            </span>
                        </a>
                    </li>

                </ul>
                <p class="copyright text-muted">Copyright &copy; IBM {{ site.time | date: '%Y' }}</p>
            </div>
        </div>
    </div>
</footer>

<!-- jQuery -->
<script src="{{ "/assets/js/jquery.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/moment.min.js " | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "/assets/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "/assets/js/clean-blog.min.js " | prepend: site.baseurl }}"></script>

<!-- Calendar JavaScript -->
<script src="{{ "/assets/js/fullcalendar.min.js " | prepend: site.baseurl }}"></script>
<script src="{{ "/assets/js/gcal.js " | prepend: site.baseurl }}"></script>

<script type='text/javascript'>

$(document).ready(function() {
    $('#calendar').fullCalendar({
        googleCalendarApiKey: 'AIzaSyB45I31jKwKMNaIdCQrf1Ac3uobYtpC59M',
        events: {
            googleCalendarId: 'csswcloud9austin@gmail.com'
        },
        header: {
            left:   'today',
            center: 'title',
            right:  'prev,next'
        },
        eventLimit: true
    });
});

</script>